.activityContent img{
    width: 100%;
    border-radius: 0.5 rem;
    margin-bottom: 2.5 rem;
}

.activityInfo{
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    padding: 2rem;
}

.activityInfo h2{
    font-size: 1.5rem;
}

.activityInfo span{
    display:flex;
    align-items: center;
    gap: 0.5rem;
    font-style: 1rem;
    color: var(--text-color)
}


