:root {
    /* --primary: #E58F65;
      --secondary: #FFFFFF; */
    --PrimaryColor: #E58F65;
    --SecondaryColor: #D05353;
    --gradientColor: #B8D0EB;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(255, 255, 255);
}

/********** Signin Page *************/
.signinContent form input {
    border: 2px solid var(--gradientColor);
    box-sizing: border-box;
    padding: 6px 30px;
}

input.signinContent[type=text]:focus {
    background-color: var(--gradientColor);
    color: black;
}
input.signinContent[type=number]:focus {
    background-color: var(--gradientColor);
    color: black;
}
.signinContent button {
    padding: 16px 32px;
    font-size: 17px;
    border: 1px solid var(--gradientColor);
    cursor: pointer;
    background-color: var(--PrimaryColor);
    border: 2px solid var(--PrimaryColor);
    margin-top: 6px;
    border-radius: 50px;
    color: white;
}

.signinContent button:hover {
    background-color: var(--SecondaryColor);
    border: 2px solid var(--SecondaryColor)
}

/*************** Signup page ******************/
.signupContent form input {
    border: 2px solid var(--gradientColor);
    box-sizing: border-box;
    padding: 6px 30px;
}

input.signupContent[type=text]:focus {
    background-color: var(--gradientColor);
    color: black;
}
input.signupContent[type=number]:focus {
    background-color: var(--gradientColor);
    color: black;
}
.signupContent button {
    padding: 16px 32px;
    font-size: 17px;
    border: 1px solid var(--gradientColor);
    cursor: pointer;
    background-color: var(--PrimaryColor);
    border: 2px solid var(--PrimaryColor);
    margin-top: 6px;
    border-radius: 50px;
    color: white;
}

.signupContent button:hover {
    background-color: var(--SecondaryColor);
    border: 2px solid var(--SecondaryColor)
}

.signin{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

