.reviewListPending{
    display: flex;
    justify-content: space-between;

    .reviewDescNull {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}