@import url('https://fonts.googleapis.com/css?family=Raleway');

/* icon packages
https://fontawesome.com
*/

/* color palette 
    #E58F65
    #D05353
    #B8D0EB
    #FFFFFF
*/

:root {
  --primary: #E58F65;
  --secondary: #FFFFFF;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", "Helvetica Neue";
  background: var(--secondary);
}

main {
  font-family: "Raleway", "Helvetica Neue";
}

/************************************************************
Button
*************************************************************/
.button-submit {
  position: absolute;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 25%;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #E58F65;
  transform: translateX(-70px);
}

.button-submit:hover {
  background-color:#B8D0EB;
  border-color:transparent;
}
/************************************************************
RootLayout
*************************************************************/
.headerContainer {
  display: flex;
  background: #B8D0EB;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.headerContainer .logo{
  width: auto;
  height: 90px;
  object-fit: cover;
  object-position: 25% 25%; 
  padding: 20px;
}

.headerList {
  display: flex;
  align-items: center;
  gap: 90px;
  margin: auto;
  padding: 30px;
  width: 100%;
  background: #B8D0EB;
}


.headerListItem:hover {
  color: black;
  border: 2px solid #E58F65;
  border-radius: 30px;
}

/************************************************************
LoginLayout
*************************************************************/
.login-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.login-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.login-layout nav a:hover{
  border-color: var(--primary);
}
.login-layout nav a.active {
  background: var(--primary);
}


/* sign up form */
.signup {
  display: inline-block;
  text-align: center;
  justify-content: center;
}

form input, form label span, form textarea {
  display: block;
  position: relative;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
  color: var(--primary);
}
form label span {
  margin-bottom: 10px;
}

/************************************************************
Home
*************************************************************/

.float-child.left {
  width: 60%;
  height: auto;
  float: left;
  background-image: url("../src/img/fun4.jpg");
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}  

.leftContent {
  text-align: center;
  position:relative;
  top: 80px;
}

.float-child.right {
  width: 40%;
  float: right;
  padding: 20px;
}  

.rightContent {
  text-align: center;
}

.leftContent p {
  color: #FFFFFF;
}
/************************************************************
Activities
*************************************************************/
.container1 {
  width: 100%;
}
.activitiesContainer{
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: auto;
}

.activitiesContainer img{
  object-fit: fill;
  width: 100%;
}

.activitiesSearchItem {
  border: 3px solid #E58F65;
  position: absolute;
  top: 25%;
  left: 10%;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
}

.activitiesSearchText {
  border: none;
  border-radius: 5px;
  width: 90%;
  height: 50px;
  margin: 0 5px 0 0;
}

.activitiesSearchButton {
  margin-left: -100px;
}

.activitiesIcon {
  width: 25px;
  margin-right: 10px;
}

.container2 {
  width: 100%;
}
